*{
    margin: 0;
    padding: 0;
    font-family: 'Popins','sans-serif';
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background : linear-gradient(135deg,blue,yellow);
    padding: 10px;
}
.apk{
    width: 100;
    max-width:540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.apk h1{
    color:  blue;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.apk h1 img{
    width: 30px;
    margin-left: 10px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#d1d1d1;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: blue;
}
::placeholder{
    color:blue;
    font-size: 15px;
}

.btn{
    border: none;
    outline: none;
    padding:16px 50px;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
.btn:hover{
    background-color:white;
    border: 1px dotted blue;
    color:  blue;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color:   blue;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul li.checked{
    color: blue;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/btick.png);

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color: blue;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

 